@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:wght@100;200;400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin: 10px;
    padding: 12px;
    letter-spacing: 3px;
}

li {
    list-style: none;
    margin-right: 50px;
}

header h1 {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 3em;
    letter-spacing: 3px;
    margin-left: 50px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100% ;
    
}

.container-main{
        display: flex;
        width: 100%;
        height: 15em;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: center;

        h3 {
            font-weight: 100;
            width: 45%;
            text-align: justify;
            letter-spacing: 5px;
        }
}

.container-main-2 {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 15em;
   
    justify-content: space-between;
       background-image: url(./media/la-segunda-1-1609.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       align-items: center;
      

     


    a {
        color: rgb(255, 255, 255);
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 5px;
        padding: 100px;
        
    }

}

.container-main-3 {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 15em;

    justify-content: space-between;
       background-image: url(./media/cas2.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       align-items: center;
     

    a {
        color: white;
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 5px;
        padding: 100px;
        
    }

}

.container-main-4 {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 15em;

    justify-content: space-between;
       background-image: url(./media/cas3.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       align-items: center;
    a {
        color: rgb(247, 240, 240);
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 5px;
        padding: 100px;
    }


}

.container-main-5 {
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: 15em;   
        justify-content: space-between;
       background-image: url(./media/VIVIENDA-UNIFAMILIAR-K616-01.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       align-items: center;
       transition: 3s all;
     

    a {
        color: white;
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 5px;
        padding: 100px;
        width: 100%;       
    }

  

 }

    
.container-main-2 {
    filter: grayscale(100%);
    
    
}

.container-main-3 {
    filter: grayscale(100%);
}
.container-main-4 {
    filter: grayscale(100%);
}
.container-main-5 {
    filter: grayscale(100%);
}

