@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:wght@100;200;400&display=swap");
* {
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin: 10px;
  padding: 12px;
  letter-spacing: 3px;
}

li {
  list-style: none;
  margin-right: 50px;
}

header h1 {
  font-weight: 200;
  color: black;
  font-size: 3em;
  letter-spacing: 3px;
  margin-left: 50px;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main h3 {
  font-weight: 100;
  width: 45%;
  text-align: justify;
  letter-spacing: 5px;
}

.container-main-2 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-2 img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.container-main-2 img:hover {
  -webkit-filter: none;
          filter: none;
  height: 16em;
}

.container-main-3 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-3 img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.container-main-3 img:hover {
  -webkit-filter: none;
          filter: none;
  height: 16em;
}

.container-main-4 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-4 img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.container-main-4 img:hover {
  -webkit-filter: none;
          filter: none;
  height: 16em;
}

.container-main-5 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-5 img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.container-main-5 img:hover {
  -webkit-filter: none;
          filter: none;
  height: 16em;
}
/*# sourceMappingURL=estilos.css.map */